<div class="container">
  <div class="row">
    <div class="row-1-of-3">
      <a class="sitemap" href="{{sitemapUlr}}">.</a>
    </div>

    <div class="row-2-of-3">
      <div class="flex-container">
        <h1>
          Created by Divij
        </h1>
      </div>
    </div>
    <div class="row-3-of-3">
      <div class="arrow-container">
        <!--<div class="up-arrow">-->
        <div (click)="goToTop()" class="arrow">
          <div class="left-arm"></div>
          <div class="right-arm"></div>
          <div class="middle-arm"></div>
        </div>
        <!--            </div>-->
      </div>
    </div>
  </div>
</div>
