<div class="blog_container">
  <div class="header">
    <h1>Write your blog!</h1>
    <div>
      <button (click)="publishBlog()" class="publish_button">Publish</button>
    </div>
  </div>

  <div class="form-group">
    <input (change)="readURL($event)" accept="image/gif, image/jpeg, image/png" class="file-input"
           id="coverImage" type="file">
    <button (click)="document.getElementById('coverImage')?.click()" class="custom-file-button"
            type="button">Upload Cover Image
    </button>
    <img *ngIf="coverImageSrc" [src]="coverImage.src" alt="Cover Image" class="cover_image_view">
  </div>

  <div class="form-group">
    <input [(ngModel)]="blogHeading" class="centered-input" id="blogHeading" name="heading"
           placeholder="Blog Heading" type="text">
  </div>

  <div class="form-group">
    <input [(ngModel)]="blogSummary" class="centered-input" id="blogSummary" name="blog summary"
           placeholder="Blog Summary" type="text">
  </div>

  <div class="form-group">
    <ckeditor (change)="onChange($event)" (ready)="onReady($event)" [config]="config"
              [data]="lorem" [editor]="Editor" id="blogContent"></ckeditor>
  </div>
</div>
