<div class="container">
  <section class="create_project">

    <h2>
      Create Project!
    </h2>
    <div>
      <select class="form-control" [(ngModel)]="selectedProjectType" (change)="onItemChange(selectedProjectType)">
        <option *ngFor="let projectType of projectTypes" [value]="projectType.value">
          {{ projectType.name }}
        </option>
      </select>
    </div>
  </section>

  <section class="content">
    <div *ngIf="selectedProjectType === projectTypes[0].value">
      <app-ytvideo-form></app-ytvideo-form>
    </div>
    <div *ngIf="selectedProjectType === projectTypes[1].value">
      <app-website-form></app-website-form>
    </div>
    <div *ngIf="selectedProjectType === projectTypes[2].value">
      <app-github-code-form></app-github-code-form>
    </div>
  </section>
</div>
