<div class="container">

  <form (ngSubmit)="onSubmit()" *ngIf="showLoginForm" [formGroup]="loginForm">
    <div>
      <label for="userName">Username:</label>
      <input formControlName="userName" id="userName"/>
    </div>
    <div>
      <label for="password">Password:</label>
      <input formControlName="password" id="password" type="password"/>
    </div>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
    <button type="submit">Login</button>
  </form>
  <div *ngIf="!showLoginForm">
    <div>Hello {{userName}}</div>
    <button (click)="logout()">Logout</button>
  </div>

</div>
