<div class="container">
  <form (ngSubmit)="onSubmit()" *ngIf="showLoginForm" [formGroup]="loginForm"
        aria-labelledby="loginFormTitle">
    <div>
      <input aria-describedby="userNameHelp" aria-required="true" formControlName="userName" id="userName" placeholder="Username"
             required type="text"/>
    </div>
    <div>
      <input aria-describedby="passwordHelp" aria-required="true" formControlName="password" id="password" placeholder="Password"
             required type="password"/>
    </div>
    <div *ngIf="errorMessage" class="errorMessage" role="alert">{{ errorMessage }}</div>
    <div class="submit">
      <button [disabled]="!loginForm.valid" type="submit">Login</button>
    </div>
  </form>
  <div *ngIf="!showLoginForm">
    <div class="submit">Hello {{userName}}!</div>
    <button (click)="logout()">Logout</button>
  </div>
</div>
