<form class="form-container" (ngSubmit)="ngSubmit()" [formGroup]="codeProjectForm">
  <div>
    <input [formControl]="codeProjectForm.controls.heading" placeholder="Project Name" type="text"
           value="">
  </div>
  <div>
    <textarea [formControl]="codeProjectForm.controls.description" placeholder="Project Description"
           type="text"
           >
    </textarea>
  </div>
  <div>
    <input [formControl]="codeProjectForm.controls.link" placeholder="Source Code Link" type="text"
           value="">
  </div>
  <div>
    Is image available?: <input (change)="isImage=!isImage" name="isImageAvailable" type="checkbox">

  </div>
  <div *ngIf="isImage">
    Insert image:
    <input (change)="onImagePicked($event)" placeholder="Image" type="file" value="">
  </div>
  Is project live link available?: <input
  (change)="isProjectLiveLink=!isProjectLiveLink"
  [formControl]="codeProjectForm.controls.isDeploymentLinkPresent" name="isProjectLiveLink" type="checkbox">

  <br>
  <div *ngIf="isProjectLiveLink">
    Insert Project Live Link:
    <input [formControl]="codeProjectForm.controls.deploymentLink" placeholder="Project Link"
           type="text"
           value="">
  </div>

  <button type="submit" [disabled]="codeProjectForm.invalid">Submit</button>
</form>
