.form-container {
  width: 100%;
  margin: 0 auto;
  background-color: #805575;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ccc;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ccc;
}

input, select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #5e3d55;
  color: #ccc;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  background: #5e3d55;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #ccc; /* Light shade color */
}

input:focus, select:focus, textarea:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #653c58;
  color: #ccc;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #5e5d5d;
  color: #ccc;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #dca0cd6e;
  color: #f2f2f2;
}

.error {
  color: red;
  font-size: 12px;
}

.checkbox {
  display: inline;
}
