<div class="container">

  <section class="projects_container">
    <div (click)="navigateToCreateProject()" *ngIf="showCreateButton" class="create_project">
      <div class="button_project">Create</div>
    </div>
    <div *ngFor="let project of projectArray; let i = index;">
      <app-project-card [data]="project" [parity]="i%2==0?'even':'odd'"></app-project-card>
    </div>
    <div class="project_wrapper">
      <div class="project_content_wrapper">
        <div class="project_name">Rabbit-hole Findings</div>
        <div class="about_project">RabbitHoleFindings showcases a series of pointless but enjoyable
          conversations
          between two adorable rabbits. With a touch of humor and charm, these conversations will
          brighten your day and
          provide a light-hearted escape from the mundane.
          <div class="buttons_container">
            <div class="button_project"><a href="https://rabbitholefindings.netlify.app"
                                           target="_blank">Project</a>
            </div>
            <div class="button_code"><a
              href="https://github.com/divijshrivastava/rabbitholefindings" target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="project_img_wrapper">
        <img alt="rabbit in hole image" class="project_img"
             src="./assets/images/rabbit_in_hole.avif">
      </div>
    </div>
    <div class="project_wrapper">
      <div class="project_img_wrapper">
        <img alt="book with recipe and plant leaves on top" class="project_img"
             src="./assets/images/recipe.jpg">
      </div>
      <div class="project_content_wrapper">
        <div class="project_name">Recipe Explorer: A Showcase of Culinary Delights and Angular
          Expertise
        </div>
        <div class="about_project">I have developed a recipe app that showcases a collection of
          diverse and delicious recipes. This app is designed to provide users with culinary
          inspiration, whether they are looking for a quick breakfast idea or a gourmet dinner
          recipe. As a demo project to showcase my Angular skills, the app currently operates within
          the browser, allowing users to explore and add their own recipes.
          <div class="buttons_container">
            <div class="button_project"><a href="https://divijrecipe.netlify.app/" target="_blank">Project</a>
            </div>
            <div class="button_code"><a href="https://github.com/divijshrivastava/RecipeApp"
                                        target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project_wrapper">
      <div class="project_content_wrapper">
        <div class="project_name">State Machines</div>
        <div class="about_project">State Machine is a lightweight Java library that implements a
          deterministic finite
          state machine. With two distinct states, AState and BState, this library enables seamless
          state transitions
          based on input characters 'a' and 'b'. Integrate the power of state machines into your
          projects with ease.
          <div class="buttons_container">
            <div class="button_code"><a href="https://github.com/divijshrivastava/StateMachine"
                                        target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="project_img_wrapper">
        <img alt="book with recipe and plant leaves on top" class="project_img"
             src="./assets/images/statemachine1.png">
      </div>
    </div>
    <div class="project_wrapper">
      <div class="project_img_wrapper">
        <img alt="book with recipe and plant leaves on top" class="project_img"
             src="./assets/images/omnifood.png">
      </div>
      <div class="project_content_wrapper">
        <div class="project_name">Omnifood</div>
        <div class="about_project">Omnifood website, a small startup dedicated to providing
          delicious and healthy meals
          to its customers.
          <div class="buttons_container">
            <div class="button_project"><a href="https://omnifood.netlify.app/" target="_blank">Project</a>
            </div>
            <div class="button_code"><a href="https://github.com/divijshrivastava/omnifood"
                                        target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project_wrapper">
      <div class="project_content_wrapper">
        <div class="project_name">QuickCode: Swift and Efficient Java Template</div>
        <div class="about_project">QuickCode is a Java template designed to provide swift and
          efficient coding
          capabilities for competitive programming. It streamlines the process of writing and
          testing Java code, making
          it an invaluable tool for competitive coders.
          <div class="buttons_container">
            <div class="button_code"><a href="https://github.com/divijshrivastava/omnifood"
                                        target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="project_img_wrapper">
        <img alt="vscode and java logo." class="project_img"
             src="./assets/images/vscode_java.png">
      </div>
    </div>
    <div class="project_wrapper">
      <div class="project_img_wrapper">
        <img alt="logo of chrome and its extension" class="project_img"
             src="./assets/images/chrome_extension_image.jpg">
      </div>
      <div class="project_content_wrapper">
        <div class="project_name">ChromeGenius</div>
        <div class="about_project">
          A beginner-friendly template that provides a solid foundation for creating custom Chrome
          extensions. Whether you're new to extension development or an experienced developer
          looking for a quick
          starting point, this template has you covered.
          <div class="buttons_container">
            <div class="button_code"><a
              href="https://github.com/divijshrivastava/chrome_plugin_template"
              target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project_wrapper">
      <div class="project_content_wrapper">
        <div class="project_name">Google Night</div>
        <div class="about_project">A Chrome Extension provides a seamless way to switch Google's
          homepage to a night mode theme. Say goodbye to bright screens during late-night browsing
          sessions and enjoy a
          visually soothing experience.
          <div class="buttons_container">
            <div class="button_code"><a href="https://github.com/divijshrivastava/google_night"
                                        target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="project_img_wrapper">
        <img alt="vscode and java logo." class="project_img"
             src="./assets/images/google_dark.jpg">
      </div>
    </div>
    <div class="project_wrapper">
      <div class="project_img_wrapper">
        <iframe
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen frameborder="0" height="315"
          src="https://www.youtube.com/embed/CPGoIz1rcaM"
          title="YouTube video player"
          width="520"></iframe>
      </div>
      <div class="project_content_wrapper">
        <div class="project_name">Networking in Docker Tutorial</div>
        <div class="about_project">
          A handson tutorial on youtube for networking in docker.
          <div class="buttons_container">
            <div class="button_code"><a href="https://www.youtube.com/watch?v=CPGoIz1rcaM"
                                        target="_blank">Video</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="project_wrapper">
      <div class="project_content_wrapper">
        <div class="project_name">Networking in Docker Project</div>
        <div class="about_project">Producer Consumer setup for Docker project.
          <div class="buttons_container">
            <div class="button_code"><a
              href="https://github.com/divijshrivastava/Docker-Producer-Consumer"
              target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="project_img_wrapper">
        <img alt="vscode and java logo." class="project_img"
             src="./assets/images/docker_network.png">
      </div>
    </div>

    <div class="project_wrapper">
      <div class="project_img_wrapper">
        <iframe
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen frameborder="0" height="315"
          src="https://www.youtube.com/embed/FPPpjQ7TG2w"
          title="YouTube video player"
          width="560"></iframe>
      </div>
      <div class="project_content_wrapper">
        <div class="project_name">SpringToolSuite and Github</div>
        <div class="about_project">
          A handson tutorial to show how to setup remote git repo using github and Spring tool
          Suite.
          <div class="buttons_container">
            <div class="button_code"><a href="https://www.youtube.com/watch?v=FPPpjQ7TG2w"
                                        target="_blank">Video</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="project_wrapper">
      <div class="project_img_wrapper">
        <iframe
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen frameborder="0" height="315"
          src="https://www.youtube.com/embed/FX6dYi-VWl0?si=68R78swWKXSh0Xuo"
          title="YouTube video player"
          width="560"></iframe>
      </div>
      <div class="project_content_wrapper">
        <div class="project_name">SpringToolSuite and Github</div>
        <div class="about_project">
          A handson tutorial to show how to setup remote git repo using github and Spring tool
          Suite.
          <div class="buttons_container">
            <div class="button_code"><a href="https://www.youtube.com/watch?v=FPPpjQ7TG2w"
                                        target="_blank">Video</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="project_wrapper">
      <div class="project_content_wrapper">
        <div class="project_name">PWA Template</div>
        <div class="about_project">
          A progressive web app template.
          <div class="buttons_container">
            <div class="button_project"><a href="https://divijpwa.netlify.app" target="_blank">Project</a>
            </div>
            <div class="button_code"><a href="https://github.com/divijshrivastava/pwa"
                                        target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="project_img_wrapper">
        <img alt="pwa mobile logo" class="project_img" src="./assets/images/pwa.png">
      </div>
    </div>
    <div class="project_wrapper">
      <div class="project_img_wrapper">
        <img alt="chrome 3d image" class="project_img" src="./assets/images/chrome_tabs.jpg">
      </div>
      <div class="project_content_wrapper">
        <div class="project_name">Message Across Tabs Extension</div>
        <div class="about_project">
          This extension shows how to message between tabs in browser.
          <div class="buttons_container">
            <div class="button_code"><a
              href="https://github.com/divijshrivastava/MessagingExtension"
              target="_blank">Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
